body {
    font-family: 'Times New Roman', Times, serif }

.countdownBox {
    color: black;
    background-color: white;
    padding: 20px;
}

.hoverBox {
    background: lightcoral;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px;
    outline: 1px solid #dddddd;
    overflow: auto;
    width: 75%;
}

#navItem {
    margin-left: auto;
}

.startHidden {
    display: none;
}

a.button {
    appearance: button;
    text-decoration: none;
    color: initial;
}

.boxOne {
    text-align: center;
}